<nav class="navigation-sidebar">
    <div class="sidebar-header">
        <img
            src="/images/logo/logo_wm.svg"
            alt="logo_wm.svg"
            class="logo"
        />
    </div>

    <mat-nav-list class="nav-list">
        @for (link of navigationLinks(); track link.id) {
            @if (link.hasChildren) {
                <mat-expansion-panel
                    [expanded]="isPanelExpanded(link.id)"
                    (opened)="togglePanel(link.id)"
                    (closed)="togglePanel(link.id)"
                    class="nav-expansion-panel"
                    [class.has-active-child]="
                        hasActiveChild(getChildren(link.id), link.path)
                    "
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            @if (link.icon) {
                                <mat-icon class="panel-icon">
                                    {{ link.icon }}
                                </mat-icon>
                            }
                            <span>
                                {{ link.translationKey | translate }}
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    @for (child of getChildren(link.id); track child.id) {
                        <a
                            mat-list-item
                            [routerLink]="[link.path, child.path]"
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            (click)="onNavigate()"
                            class="child-link"
                            [class.active]="rla.isActive"
                        >
                            <span matListItemTitle>
                                {{ child.translationKey | translate }}
                            </span>
                        </a>
                    }
                </mat-expansion-panel>
            } @else {
                <a
                    mat-list-item
                    [routerLink]="'/' + link.path"
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    (click)="onNavigate()"
                    [class.active]="rla.isActive"
                >
                    @if (link.icon) {
                        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
                    }
                    <span matListItemTitle>
                        {{ link.translationKey | translate }}
                    </span>
                </a>
            }
        }
    </mat-nav-list>

    <div class="sidebar-footer">
        <cv-language-switcher />
    </div>
</nav>
