.navigation-sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden; // Убираем скролл
}

.sidebar-header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 20px;

    .sidebar-title {
        margin: 0;
        color: white;
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
    }
}

.nav-list {
    flex: 1;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; // Разрешаем скролл только для списка

    a.mat-mdc-list-item {
        margin: 4px 0;
        border-radius: 8px;
        height: 56px;
        color: rgba(255, 255, 255, 0.85);

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

        &.active {
            background-color: rgba(255, 255, 255, 0.2);
            color: white;

            .mat-icon {
                color: white;
            }

            span {
                color: white;
            }
        }

        .mat-icon {
            margin-right: 16px;
            color: rgba(255, 255, 255, 0.7);
        }

        span {
            color: rgba(255, 255, 255, 0.7);
            font-weight: 500;
            font-size: 1.1rem;
        }
    }
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0 0;
}
