<p-autoComplete
    [(ngModel)]="selectedLang"
    [suggestions]="filteredLangs()"
    (completeMethod)="filterLangs($event)"
    (onSelect)="onLanguageSelect($event)"
    (onClear)="onClear()"
    field="name"
    [dropdown]="true"
    placeholder="Select language"
    [style]="{ width: '180px' }"
    appendTo="body"
    [showClear]="true"
    [forceSelection]="true"
    [dropdownMode]="'blank'"
>
    <ng-template
        let-lang
        pTemplate="item"
    >
        <div class="flex align-items-center gap-2 p-2">
            <i class="pi pi-globe"></i>
            <div>
                <div class="font-medium">{{ lang.name }}</div>
                <div class="text-sm text-color-secondary">
                    {{ lang.code | uppercase }}
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template
        let-lang
        pTemplate="selectedItem"
    >
        @if (lang) {
            <div class="flex align-items-center gap-2">
                <i class="pi pi-globe"></i>
                <span>{{ lang.name }}</span>
            </div>
        }
    </ng-template>
</p-autoComplete>
