<div class="footer-media-links">
    <p-speeddial
        [model]="menuItems()"
        direction="left"
        [transitionDelay]="80"
    >
        <ng-template
            #button
            let-toggleCallback="toggleCallback"
        >
            <p-button
                outlined
                styleClass="border"
                (click)="toggleCallback($event)"
            >
                <i
                    class="pi pi-share-alt"
                    style="font-size: 1.5rem"
                ></i>
            </p-button>
        </ng-template>

        <ng-template
            #item
            let-item
        >
            <div
                [ngClass]="item.styleClass"
                class="flex flex-col items-center justify-between gap-2 p-2 border rounded border-surface-200 dark:border-surface-700 w-20 cursor-pointer"
                (click)="item.command && item.command()"
            >
                <span
                    [class]="item.icon"
                    class="text-xl"
                ></span>
                <span>{{ item.label }}</span>
            </div>
        </ng-template>
    </p-speeddial>
</div>
